
<%- contentFor('hero') %>
<center>
<h1>Web Scrapping Project</h1>
	<img src="/img/trial2.jpg" style="width:600px;height:250px;">
	<img src="/img/bot.jpg" style="width:600px;height:250px;">
	
<%- contentFor('body') %>

<div>
	<h3><a href = "https://www.ebay.com/b/Cell-Phones-Smartphones/9355/bn_320094?_ipg=25" target="_blank">Visit Page</a></h3>
	<h3>Website: e-bay</h3>
	<h3>Category: Cell-Phones-Smartphones</h3>
</div>
<br>
	  
<div>
	<form action="http://127.0.0.1:8080/myaction" target="_blank" method="post">
		<input type="text" name="name" id="name" style="width:400px;height:35px;" placeholder="Product Search"/>
		
		<button type="submit" class="btn btn-default">
			  <span class="glyphicon glyphicon-search"></span> Search
		</button>
	</form>

</div>
<center>